* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    
    position: relative;
    overflow: hidden;
}

.header {
    min-height: 100vh;
    max-width: 100%;
    background-color: black;
    overflow: hidden;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.9);
}

.header .img {
    position: absolute;
    top:0rem;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.header .logo {
    position: relative;
    bottom: 6rem;
    left: 3rem;
    z-index: 2;
    width: 22rem;
    height: 20rem;
}
.header .log-in{
     position:absolute;
    top:2.5rem;
    right: 7rem;
    z-index: 2;
    width: 5.5rem;
    height: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(249, 31, 31);
    color: aliceblue;
    border-radius: 0.5rem;
    font-size: 1.05rem;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border: none;
    cursor: pointer;

}

.header button:hover{
    background-color: rgb(164, 15, 15);
}


.textoverlay {
    position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:16rem;
  left: 30rem;
  z-index: 2;
  color: white;
  font-size: 3.5rem;
  font-weight: 900;
  font-family: sans-serif;
  text-align: center;
  
}
.textoverlay #toptext{
    font-size:4rem ;
}

.create_account{
    position:absolute;
    top:32.5rem;
    right: 38rem;
    z-index: 2;
    width: 15rem;
    height: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(249, 31, 31);
    color: aliceblue;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border: none;
    cursor: pointer;

}


